div {
    display: inline;
}

div.green {
    background-color: green;
}

div.blue {
    background-color: blue;
}

div.red {
    background-color: red;
}

div.purple {
    background-color: purple;
}

div.orange {
    background-color: orange;
}