<div class="card">
  <h3>{{name}}</h3>
  <p>{{propertyDescription}}</p>
  <div class="cta-container"><a href="/housing/{{_id}}" class="det-link">Details</a></div>
  <div class="card_circle"><img src="{{image}}"></div>
</div>