<article class="content-publication">
  <h1>Title: {{title}}</h1>
  <p>Number of people shared the publication: {{users.length}}</p> 
  <a href="/art/{{_id}}" class="image-details">View publication</a>
</article>