<h1>Login Page</h1>
<form method="post" action="/auth/login">
  <label>Username <input type="text" name="username" value="{{body.username}}"></label>
  <label>Passowrd <input type="password" name="password"></label>
  <button>Login</button>
</form>