<form action="/auth/login" method="post">
  <h2>Login</h2>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username" value="{{body.username}}">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
  </div>

  <button class="btn" type="submit">Login</button>
</form>