<form action="/auth/register" method="post">
  <h2>Register</h2>
  <div class="on-dark">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Steven" value="{{body.username}}">
  </div>

  <div class="on-dark">
    <label for="password">Password:</label>
    <input type="password" name="password"  placeholder="********">
  </div>

  <div class="on-dark">
    <label for="repeatPassword">Repeat Password:</label>
    <input type="password" name="repass"  placeholder="********">
  </div>

  <button class="btn" type="submit">Register</button>
</form>